.todo_item_container {
	background-color: white;
	margin-bottom: 15px;
	width: 100%;
	padding: 25px 20px;
	border-radius: 5px;
}

.todo_item_name {
	font-size: 27px;
	line-height: 20px;
	cursor: pointer;
	font-weight: 500;
	margin-bottom: 15px;
}

.todo_item_description {
	font-size: 17px;
	margin-bottom: 15px;
}

.todo_item_button_container {
	display: flex;
	justify-content: right;
	gap: 5px;
}
